
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Public Sans", sans-serif;

}
/* default style */
*{
margin: 0;
}
.container{
    width: 90%;
    margin: 5rem auto;
    border: 1rem;
    
}
/* navbar style */
.nav-bar{
display: flex;
justify-content: space-between;
align-items: center;

}
.logo{
    color: rgb(230, 83, 60);
    font-style: italic;
}